<template>
    <div class="content">
        <router-link :to="{name:'createcommand'}" class="button is-primary">Create Command</router-link>
        <br><br>

        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th><abbr title="API">A</abbr></th>
      <th><abbr title="Upvote">U</abbr></th>
      <th><abbr title="Patreon">P</abbr></th>
      <th><abbr title="Owner">O</abbr></th>
      <th>Description</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th><abbr title="API">A</abbr></th>
      <th><abbr title="Upvote">U</abbr></th>
      <th><abbr title="Patreon">P</abbr></th>
      <th><abbr title="Owner">O</abbr></th>
      <th>Description</th>
    </tr>
  </tfoot>
  <tbody>
    <tr v-for="command in commands()" :key="command.id">
      <th>{{command.id}} <router-link :to="{name:'editcommand', params:{id:command.id}}"><i class="fas fa-edit"></i></router-link></th>
      <td>{{command.name}}</td>
      <td>{{command.category}}</td>
      <td>{{command.api ? "Y" : "N"}}</td>
      <td>{{command.upvote ? "Y" : "N"}}</td>
      <td>{{command.patreon ? "Y" : "N"}}</td>
      <td>{{command.owner ? "Y" : "N"}}</td>
      <td>{{command.description}}</td>
    </tr>
  </tbody>
</table>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      commands: "commands"
    })
  }
};
</script>
