<template>
    <div class="columns">
        <div class="column is-three-fifths">
            <div class="columns">
                <div class="field column is-two-thirds">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" v-model="command.name" type="text" placeholder="Command Name" :class="error('name')">
                    </div>
                </div>
                <div class="field column is-two-thirds">
                    <label class="label">Category</label>
                    <div class="control">
                        <div class="select" :class="error('category')">
                            <select v-model="command.category" >
                                <option selected disabled hidden>Select Category</option>
                                <option>Steam Community</option>
                                <option>Steam Store</option>
                                <option>Config & Info</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Format</label>
                <div class="control">
                    <input class="input" v-model="command.format" type="text" placeholder="Command Format" :class="error('format')">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" v-model="command.description" type="text" placeholder="Command Description" :class="error('description')">
                </div>
            </div>
            <div class="field">
                <label class="label">Details</label>
                <div class="control">
                    <textarea class="textarea" v-model="command.details" placeholder="Command Details" :class="error('details')"></textarea>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="button is-primary" v-on:click="verify()">Submit</button>
                </div>
                <label class="checkbox column">
                    <input v-model="command.api" type="checkbox"> API
                </label>
                <label class="checkbox column">
                    <input v-model="command.upvote" type="checkbox"> Upvote
                </label>
                <label class="checkbox column">
                    <input v-model="command.patreon" type="checkbox"> Patreon
                </label>
                <label class="checkbox column">
                    <input v-model="command.owner" type="checkbox"> Owner
                </label>
            </div>
        </div>
        <div class="column is-two-fifths">
            <div class="field">
                <label class="label">Examples</label>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-primary is-medium" v-on:click="exampleCount(1)">+</span>
                        <span class="tag is-primary is-medium" v-on:click="exampleCount(-1)">-</span>
                    </div>
                </div>
            </div>
            <div class="field" v-for="example in command.examples" :key="example.id">
                <div class="control">
                    <input class="input" v-model="example.example" type="text" placeholder="Example" :class="error('examples')">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data() {
    return {
      command: this.command || {},
      errors: this.errors || {}
    };
  },
  mounted() {
    this.command = {
      name: "",
      format: "",
      description: "",
      details: "",
      category: "Select Category",
      examples: [{ example: "", id: 0 }],
      api: false,
      upvote: false,
      patreon: false,
      owner: false
    };

    this.errors = { name: false, format: false, description: false, details: false, category: false, examples: false };
  },
  methods: {
    verify() {
      this.errors = { name: false, format: false, description: false, details: false, category: false, examples: false };
      if (!this.command.name) this.errors.name = true;
      if (!this.command.format) this.errors.format = true;
      if (!this.command.description) this.errors.description = true;
      if (!this.command.details) this.errors.details = true;
      if (this.command.category == "Select Category") this.errors.category = true;
      for (let i = this.command.examples.length - 1; i >= 0; i--) {
        let example = this.command.examples[i];
        if (!example.example && this.command.examples.length > 1) this.command.examples.splice(example.id, 1);
      }
      for (let i = 0; i < this.command.examples.length; i++) this.command.examples[i].id = i;
      if (this.command.examples.length == 1 && !this.command.examples[0].example) this.errors.examples = true;
      for (let i in this.errors) {
        if (this.errors[i]) return;
      }
      this.submit(this.command);
    },
    submit(command) {
      this.$store.dispatch("newCommand", { command }).then(this.$router.push({ name: "commandlist" }));
    },
    exampleCount(count) {
      if (this.command.examples.length + count > 5) return;
      if (this.command.examples.length + count < 1) return;
      if (count > 0) this.command.examples.push({ example: "", id: this.command.examples.length });
      else if (count < 0) this.command.examples.splice(-1, 1);
    },
    error(type) {
      if (!this.errors) return {};
      if (this.errors[type] == true) return { "is-danger": true };
      return {};
    }
  }
};
</script>
