<template>
  <div class="page container content">
    <h1>Getting Started</h1>
    <p>This section is inteded to provide the information necessary to use SteamRadar correctly. While it is lengthy it is worth
      reading to learn about some features of SteamRadar.</p>
    <h3>Arguments</h3>
    <h4>Flags</h4>
    <p>SteamRadar was created using
      <a href="https://github.com/1Computer1/discord-akairo">Discord Akairo</a>, and utilizes the argument flags and prefixes extensively. A flag, for example
      <code>--username</code>, is used to denote a true or false value. If the flag appears in the command message, the value is true. Flags may
      appear anywhere in the command, so in the
      <code>user</code> command, the flag
      <code>--username</code> can be used like this,
      <code>user --username coolsteamname</code> and also like this
      <code>user coolsteamname --username</code>. In this example the
      <code>-username</code> flag tells the bot to only search by username, and to not attempt to match the input as a SteamID or CustomID. All
      flags also have abreviated versions, consisting of a single dash and the first letter of the flag. For example,
      <code>--username</code> would become
      <code>-u</code>, and
      <code>--id</code> would become
      <code>-i</code>. The abreviated flags are a shorthand, telling the bot to do the same thing as the long versions.
    </p>

    <h4>Prefixes</h4>

    <p>
      SteamRadar also uses argument prefixes to match values to optional arguements. When searching for a game, the location can
      be changed using the
      <code>--location=</code> prefix. The CC following the prefix will be used to return prices from different locations. A value following the
      prefix
      <b>must</b> be directly after it, without a space in between, for example,
      <code>--location=US</code>. If a space is present, it may be matched as part of the main argument or not at all. When searching for a specific
      achievement, the name might be multiple words. In this case surround the achievement name using double quotation marks.
      For example, when searching for the
      <i>Master Zoologist</i> achievement, the prefix will
      <code>--achievement="Master Zoologist"</code>
      <b>not</b>
      <code>--achievement=Master Zoologist</code>. In the latter,
      <i>Zoologist</i>
      will be matched to the game name, and then the desired game,
      <i>Ark: Survival Evolved</i> will not be found and an error will occur. Just as with flags, the prefix may occur anywhere
      within the command, and is abbreviated as well.
      <code>-l=</code> is equivalent to
      <code>--location=</code>.

    </p>


    <h3>Understanding Command Format </h3>
    <p>Let start off with the format for the
      <code>hours</code> command. </p>
    <p>
      <code>hours [ ( steamid ) || ( customid ) || ( username )] { --game=( game ) } { --id || --username }</code>
    </p>
    <p>Looks pretty complicated but its really not. To begin lets go over what all those brackets and braces mean. Square brackets,
      <code>[ ]</code> surround a required argument. Without this argument the command will throw an error telling you to fix it. Curly Braces,
      <code>{ }</code> surround an optional argument, which in most cases is a arguemnt flag or prefix. Parenthesis,
      <code>( )</code> surround an argument that has a variable input, such as a username, a game name , or any other input that isn't the
      same all the time. The double pipe,
      <code>||</code> means that the input can be multiple With that out of the way lets get to disecting the format above.</p>
    <p>~
      <code>hours</code> - This is the command that is being triggered.</p>
    <p>~
      <code>[ ( steamid ) || ( customid ) || ( username )]</code> - Notice the square brackets arount the arguemnt, meaning this argument is required. Inside the brackets we see three
      things surrounded by parenthesis. This means that this command accepts a SteamID OR a CustomURLID OR a steam username.
      Becuase they are surrounded by parenthesis the value would not be
      <code>steamid</code> but
      <b>a steamid</b>, a 17 digit number, and the same applying to the other possible inputs.
    </p>
    <p>~
      <code>{ --game=( game ) }</code> - This argument is surrounded by curly braces, meaning it is optional. The command will still run even if this is
      not present, but adding this will change the ouput in some way. Inside is a prefix,
      <code>--game=</code> meaning whatever follows directly after is, in this case, the game to get hours for. If the game is more than word
      surround it in double quotes,
      <code>" "</code>
    </p>
    <p>~
      <code>{ --id || --username }</code> - This argument is also surrounded by quotes, so it is also optional. All this argument does is chagne whether the
      user input is treated as a steamid/customid or a username. Adding the
      <code>--id</code> flag will search for an ID and adding the
      <code>--username</code> flag will search for a username.</p>

    <p>Once these commands are broken down, they are not difficult to understand. However long they seem, these command formats
      show every possible combination for a command to run, with each combination chnaging the output of the command in some
      way.</p>

      <h3>Support Server</h3>
      <p>If you continue to struggle and need help, feel free to join the <a :href="links.server_url">support server.</a> For general help with commands and such, use <code>#help</code>.
      There, ask as many questions as you can think of, and they should be answered. If you have a feature request, in <code>#requests</code> create a request by running <code>*request [YOUR REQUEST HERE]</code>
      and it will automatically be added to a queue to be approved. The same goes for bug reports. Rather than tagging the developer or a mod, submit a report with the command that you ran, and its arguments. Do this by running 
      <code>*report [YOUR BUG HERE]</code> in <code>#bugs</code>. Not only will this help log the bugs, it will also get it done faster, as all the moderators also see the report. The support server is also the place where the beta
      version of the bot will be. This bot will have new features that are not yet available on the main bot.</p>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      user: "user",
      links: "links"
    })
  }
};
</script>
