<template>
  <div class="page">
      <div class="content has-text-centered">
          <p class="title is-1">(~˘▾˘)~</p>
          <p class="subtitle is-3">Sorry, you might need to login to access that page. </p>
          <p class="subtitle is-5">Here's the button for you.</p>
          <router-link class="button is-primary" :to="{name:'login'}">Login</router-link>

      </div>
  </div>
</template>
