<template>
  <div class="page">
      <div class="content has-text-centered">
          <p class="title is-1">(╯°□°）╯︵ ┻━┻)</p>
          <p class="subtitle is-3">Sorry, you can't access that page.</p>
          <p class="subtitle is-4">It's for cool kids only.</p>

      </div>
  </div>
</template>
