<template>
  <div class="page container">
      <div class="content has-text-centered">
          <p class="title is-1">¯\_(ツ)_/¯</p>
          <p class="subtitle is-3">Sorry, that page wasn't found.</p>
      </div>
  </div>
</template>
