<template>
  <div class="container page">
    <div class="columns ">
        <div class="column is-one-fifth">
            <aside class="menu">
                <p class="menu-label">
                    Manage Site
                </p>
                <ul class="menu-list">
        <li><router-link v-bind:to="{name:'commandlist'}">Commands</router-link></li>
                </ul>
            </aside>
        </div>
        <div class="column box">
            <transition name="fade">
      <router-view/>    
    </transition>
        </div>
    </div>
</div>
</template>
<script>
export default {};
</script>
