<template>
  <div class="container has-text-centered is-fluid page">
    <div class="columns is-vcentered">
      <div class="column">
        <img src='@/assets/images/logo.png' width='300px' height='300px'>
        <h1 class='title is-1'>SteamRadar</h1>
      </div>
      <div class="column is-half is-hidden-touch">
        <img class='demo' src='@/assets/images/window.png'>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      user: "user"
    })
  }
};
</script>
<style>
.demo {
  border-radius: 3px;
}
</style>
