<template>
  <footer class="footer" v-if="show()">
  <div class="container">
    <div class="content has-text-centered">
     <div class="columns"><div class="column">
    
  </div>
  <div class="column">
      <p>© 2018 CarrotStress. All Rights Reserved.</p>
  </div>
  
  <div class="column">
  </div>
</div>
    </div>
  </div>
</footer>
</template>
<script>
export default {
  data() {
    return { page: this.$route.name };
  },
  methods: {
    show() {
      return this.$route.name;
    }
  }
};
</script>

<style>
.logo {
  height: 60px;
}
</style>
