<template>
 <nav class="navbar" role="navigation" aria-label="main navigation" v-if="show()">
    <div class="navbar-brand">
                    <router-link :to="{name:'home'}" class="navbar-item">
            <img src="@/assets/images/title.png" alt="SteamRadar" height="128px"></router-link>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" :class="{'is-active':mobile}" v-on:click="mobile = !mobile">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" :class="{'is-active':mobile}">
        <div class="navbar-start">
            <router-link :to="{name:'commands'}" class="navbar-item">
                Commands
            </router-link>
            <div class="navbar-item has-dropdown is-hoverable">
                <router-link :to="{name:'help'}" class="navbar-link ">
                    Help
                </router-link>
                <div class="navbar-dropdown">
                    <router-link :to="{name:'help'}" class="navbar-item ">
                    Getting Started
                </router-link>
                    <a :href="links.url_guild" class="navbar-item">
                        Support Server
                    </a>
                    <a :href="links.url_invite" class="navbar-item">
                        Invite
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div v-if="user.auth == true" class="navbar-item has-dropdown is-hoverable">
                    <router-link :to="{}" class='navbar-link'>
                        {{user.username}}
                    </router-link>

                    <div class="navbar-dropdown">
                        <router-link :to="{name:'panel'}" class='navbar-item' v-if="user.admin == true">
                            Admin Panel
                        </router-link>
                        <router-link :to="{name:'logout'}" class='navbar-item'>
                            Logout
                        </router-link>
                    </div>
                </div>
        </div>
    </div>
</nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      user: "user",
      links: "links"
    })
  },
  data() {
    return { mobile: false, page: this.$route.name };
  },
  methods: {
    show() {
      return this.$route.name;
    }
  }
};
</script>
