<template>
  <div id="app" class="site">
    <Navbar></Navbar>
    <transition name="fade">
      <router-view class="site_content"/>    
    </transition>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";
export default {
  name: "SteamRadar",
  components: {
    Navbar,
    Footer
  }
};
</script>

<style>
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site_content {
  flex: 1;
}

.page {
  padding-top: 5%;
  padding-bottom:10%;
}
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.15s;
}

.fade-enter-active {
  transition-delay: 0.15s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
