<template>
  <div class="page container">


<div class="columns">
  <div class="column"></div>
  
  <div class="column is-three-fifths">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{command({id}).name}}
    </p>
        
  <router-link :to="{name:back(command({id}).category)}" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
      </span>
      Back
    </router-link>
  </header>
  <div class="card-content">
    <div class="content">

      <p class="title is-6 is-spaced">Format:</p>
<p class="subtitle is-6">
     <code>{{command({id}).format}}</code>
      </p>
    <br>
      <p class="title is-6 is-spaced">Details:</p>
<p class="subtitle is-6">
      {{command({id}).details}}</p>

    </div>

    <p class="title is-6">Examples:</p>
    <p v-for="example in command({id}).examples" :key="example.id">
      <code>{{example.example}}</code>
    </p>

  </div>
  <footer class="card-footer">
    <div class="card-footer-item ">
      <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons" v-if="command({id}).api == true">
  <span class="tag is-primary">API</span>
  <span class="tag is-primary"><i class="fas fa-check"></i></span>
</div>
    </div>
    <div class="control">
      <div class="tags has-addons" v-if="command({id}).upvote == true">
  <span class="tag is-primary">Upvote</span>
  <span class="tag is-primary"><i class="fas fa-check"></i></span>
</div>
    </div>
    <div class="control">
      <div class="tags has-addons" v-if="command({id}).patreon == true">
  <span class="tag is-primary">Patreon</span>
  <span class="tag is-primary"><i class="fas fa-check"></i></span>
</div>
    </div>
    <div class="control">
      <div class="tags has-addons" v-if="command({id}).owner == true">
  <span class="tag is-primary">Owner</span>
  <span class="tag is-primary"><i class="fas fa-check"></i></span>
</div>
    </div>
</div>
</div>

  </footer>
</div>

  </div>
  <div class="column"></div>
</div>
</div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      command: "command"
    })
  },
  data() {
    return {
      id: this.$route.params.id
    };
  },
  methods: {
    back(category) {
      if (category == "Steam Store") return "storecommands";
      else if (category == "Steam Community") return "communitycommands";
      else if (category == "Config & Info") return "infocommands";
      return "commands"
    }
  }
};
</script>
