<template>
<div class="page">
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Command Documentation
      </h1>
    </div>
  </div>
</section>
  <div class="container">
    <div class="tabs">
  <ul>
    <li :class="active('store')"><router-link :to="{name:'storecommands'}" replace>Steam Store</router-link></li>
    <li :class="active('community')"><router-link :to="{name:'communitycommands'}" replace>Steam Community</router-link></li>
    <li :class="active('info')"><router-link :to="{name:'infocommands'}" replace>Config & Info</router-link></li>
  </ul>
</div>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Format</th>
        <th>Description</th>
      </tr>
    </thead>
      <router-view/>
  </table>
  </div>
</div>
</template>
<script>
export default {
  methods: {
    active(type) {
      if (type == "store" && (this.$route.name == "commands" || this.$route.name == "storecommands")) return { "is-active": true };
      else if (type == "community" && this.$route.name == "communitycommands") return { "is-active": true };
      else if (type == "info" && this.$route.name == "infocommands") return { "is-active": true };
      return {};
    }
  }
};
</script>
