<template>
  <tbody>
      <tr v-for="command in commands({type:'store'})" :key="command.id" v-if="owner(command)">
          <td><router-link :to="{name:'command',params:{id:command.id}}">{{command.name}}</router-link></td>
          <td><code>{{command.format}}</code></td>
          <td>{{command.description}}</td>
      </tr>
  </tbody>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      commands: "commands",
      user: "user"
    })
  },
  methods: {
    owner(command) {
      if (!command.owner) return true;
      if (this.user.admin == true) return true;
      return false;
    }
  }
};
</script>

<style>
</style>
